@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer base {
    :root {
        font-family: "Poppins", system-ui, sans-serif;
    }
}